.App {
  font-family: sans-serif;
  
}
.pro_pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.App > div:nth-child(3) > .pro_pic {
  border-radius: 0%;
}
#user-def{
  padding: 5px;
  font-size: 10px;

}
.add-color{
  display: flex;
  margin-top: 16px;
}
.movie-list{
  
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 25px;
}
.movie-spec{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.movie-container{
  width: 300px;  
  
}
.movie-poster{
  width: 300px;
  height: 400px;
  object-fit:cover;
}
.movie-name{
  font-size: 30px;
  margin: 0;
}
.movie-summary{
  margin-top: 0;
}
.movie-rating{
  font-size: 20px;
}
.add-movie-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%;
  margin: 25px;

}
.movie-detail-container{
max-width: 900px;
}
